//Navigation
.navbar {
  position: fixed;
  width: 100%;
  height: 25px;
}

.menu {
  display: none;
  position: absolute;
  top: 20px;
  left: 60px;
  a {
    text-decoration: none;
    color: black;
    font-family: Raleway;
    font-size: 22px;
    margin-left: 5px;
    font-weight: bold;
    &:hover {
      color: white;
      text-shadow: 3px 3px 8px black;
    }
  }
}

// Landing Page
.landing-page {
  background-color: $primary;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    h1 {
      font-family: Questrial;
      width: 200px;
      margin: 0;
      color: white;
      font-size: 48px;
      height: 40px;
    }
    .firstname {
      text-align: right;
    }
    .lastname {
      text-align: left;
    }
    span {

    }
  }
  .subtitle {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    h4 {
      font-family: Raleway;
      margin: 0;
      margin-top: 3px;
      font-size: 22px;
    }
  }
}

//Process
.process {
  position: relative;
  .pro-title {
    text-align: center;
    width: 220px;
    h1 {
      @extend .section-headers;
      height: 50px;
      span {
        color: white;
      }
    }
  }
  .color-block {
    background-color: $secondary1;
    height: 55px;
    width: 102px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 100px;
  }
}
