//Site Max Width
body {
  max-width: 1440px;
  @media #{$breakpoint-laptop-plus} {
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 20px 20px 10px grey;
  }
}

//Navigation
.navbar {
  position: fixed;
  width: 100%;
  height: 25px;
  z-index: 1;
}

.menu {
  display: none;
  position: absolute;
  top: 8px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  @media #{$breakpoint-tablet} {
    height: 120px;
    width: 110px;
  }
  a {
    text-decoration: none;
    color: black;
    font-family: Raleway;
    font-size: 22px;
    margin-left: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Landing Page
#landing-page {
  height: 750px;
  .landing-color {
    background-color: $primary;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{$breakpoint-tablet} {
      width: 65%;
      position: relative;
      align-items: flex-end;
    }
    .title {
      h1 {
        font-family: Questrial;
        width: 200px;
        margin: 0;
        color: white;
        font-size: 48px;
        height: 40px;
        text-shadow: 1px 1px 1px black;
        @media #{$breakpoint-tablet} {
          position: relative;
          left: 91px;
        }
        @media #{$breakpoint-tablet} {
          font-size: 90px;
        }
        @media #{$breakpoint-laptop} {
          position: relative;
          left: 98px;
        }

      }
      .firstname {
        text-align: right;
        animation: fadeIn 4s forwards;
        @media #{$breakpoint-tablet} {
          bottom: 80px;
          left: 98px;
        }

      }
      .lastname {
        text-align: left;
        animation: fadeIn 8s forwards;
        @media #{$breakpoint-tablet} {
          bottom: 50px;
          left: -3px;
        }
      }
      span {
        @media #{$breakpoint-tablet} {
          color: black;
          text-shadow: none;
        }
      }
    }
    .subtitle {
      align-self: flex-end;
      margin-right: 10px;
      margin-top: 10px;
      h4 {
        animation: fadeIn 12s forwards;
        font-family: Raleway;
        margin: 0;
        margin-top: 3px;
        font-size: 22px;
        @media #{$breakpoint-tablet} {
          position: relative;
          left: 250px;
        }
        @media #{$breakpoint-laptop} {
          font-size: 36px;
          left: 390px;
        }
      }
    }
  }
}

//Process
#process {
  @extend .sections;
  @media #{$breakpoint-tablet} {
    height: 700px;
  }
  @media #{$breakpoint-laptop} {
    height: 750px;
  }
  .pro-title {
    text-align: center;
    width: 220px;
    @media #{$breakpoint-tablet} {
      margin-top: 20px;
    }
    h1 {
      @extend .section-headers;
      height: 50px;
      span {
        color: white;
      }
      @media #{$breakpoint-laptop} {
        font-size: 90px;
        border-bottom: 4px solid black;
        height: 90px;
        width: 350px;
      }
    }
  }
  .color-block {
    background-color: $secondary1;
    height: 55px;
    width: 102px;
    z-index: -1;
    position: absolute;
    top: 20px;
    left: 100px;
    animation: movefwd 15s infinite;
    @media #{$breakpoint-tablet} {
      margin-top: 20px;
    }
    @media #{$breakpoint-laptop} {
      height: 110px;
      left: 150px;
      width: 200px;
    }
  }
  .process-secs {
    @media #{$breakpoint-tablet} {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
    @media #{$breakpoint-laptop} {
      width: 1000px;
      align-self: center;
    }
    .process-first-row {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      @media #{$breakpoint-tablet} {
        flex-direction: column-reverse;
        margin-top: 5px;
      }
      .text-1 {
        @extend .paragraphs;
      }
      .icon-1 {
        @extend .icon-secs;
        .icon {
          @extend .icon;
        }
        .icon-1-sub {
          @extend .icon-subs;
        }
      }
    }
    .process-second-row {
      margin-top: 5px;
      display: flex;
      justify-content: space-around;
      @media #{$breakpoint-tablet} {
        flex-direction: column;
      }
      .icon-2 {
        @extend .icon-secs;
        .icon {
          @extend .icon;
        }
        .icon-2-sub {
          @extend .icon-subs;
        }
      }
      .text-2 {
        @extend .paragraphs;
        text-align: right;
        @media #{$breakpoint-tablet} {
          text-align: left;
        }
      }
    }
    .process-third-row {
      margin-top: 5px;
      display: flex;
      justify-content: space-around;
      @media #{$breakpoint-tablet} {
        flex-direction: column-reverse;
      }
      .text-3 {
        @extend .paragraphs;
      }
      .icon-3 {
        @extend .icon-secs;
        .icon {
          @extend .icon;
        }
        .icon-3-sub {
          @extend .icon-subs;
        }
      }
    }
  }
}

//Work
#work {
  height: 650px;
  display: flex;
  align-items: center;
  position: relative;
  .color-block {
    @media #{$breakpoint-tablet} {
      background-color: $secondary2;
      height: 55px;
      width: 102px;
      z-index: -1;
      position: absolute;
      top: 10px;
      right: 60px;
      animation: movefwd 15s infinite;
    }
    @media #{$breakpoint-laptop} {
      height: 110px;
      width: 182px;
      right: 80px;
    }
  }
  .work-title-large {
    display: none;
    @media #{$breakpoint-tablet} {
      display: block;
      position: absolute;
      top: 10px;
      right: 46px;
      h1 {
        height: 50px;
        font-family: Questrial;
        margin: 0;
        color: black;
        font-size: 48px;
        border-bottom: 2px solid black;
        @media #{$breakpoint-laptop} {
          font-size: 90px;
          border-bottom: 4px solid black;
          height: 90px;
          width:230px;
        }
      }
    }
  }
  .work-color {
    height: 650px;
    background-color: $secondary2;
    width: 100%;
    display: flex;
    @extend .sections;
    justify-content: space-between;
    @media #{$breakpoint-tablet} {
      width: 60%;
      height: 550px;
    }
    @media #{$breakpoint-laptop} {
      width: 48%;
    }
    .work-title {
      margin-right: 20px;
      margin-top: 40px;
      text-align: center;
      width: 160px;
      align-self: flex-end;
      h1 {
        @extend .section-headers;
        height: 50px;
        @media #{$breakpoint-tablet} {
          position: relative;
          left: 200px;
          bottom: 100px;
          display: none;
        }
      }
    }
    .title-pos {
      position: absolute;
      top: 80px;
      left: -40px;
      transform: rotateZ(-90deg) translateY(-20px);
      @media #{$breakpoint-tablet} {
        transform: rotateZ(0deg) translateY(0px);
        left: 240px;
        top: 40px;
      }
      .proj-title {
        animation: flip 3s forwards .2s;
        @media #{$breakpoint-tablet} {
          animation: fadeIn 4s forwards;
        }
        h5 {
          text-align: right;
          font-family: Raleway;
          font-style: italic;
          font-size: 22px;
          line-height: 10px;
          margin-bottom: 10px;
          margin-top: 10px;
          margin-right: 20px;
          @media #{$breakpoint-tablet} {
            line-height: 15px;
            text-align: left;
          }
          @media #{$breakpoint-laptop} {
            font-size: 36px;
            margin-right: 0;
            line-height: 25px;
          }
        }
        .line {
          width: 200px;
          height: 2px;
          background-color: black;
          @media #{$breakpoint-laptop} {
            width: 400px;
            height: 4px;
          }
        }
      }
      .proj-title-2 {
        @extend .proj-title;
        display: none;
      }
      .proj-title-3 {
        @extend .proj-title;
        display: none;
      }
      .proj-title-4 {
        @extend .proj-title;
        display: none;
      }
      .proj-title-5 {
        @extend .proj-title;
        display: none;
      }
      .proj-title-6 {
        @extend .proj-title;
        display: none;
      }
    }

    .proj-img {
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      width: 320px;
      height: 160px;
      margin: 0 auto;
      margin-top: 120px;
      @media #{$breakpoint-tablet} {
        margin-top: 0;
        position: absolute;
        right: -240px;
        top: 170px;
        width: 470px;
        height: 230px;
      }
      @media #{$breakpoint-laptop} {
        margin-top: 0;
        width: 600px;
        height: 290px;
        top: 160px;
      }
      img {
        width: 320px;
        height: 160px;
        box-shadow: 4px 4px 10px black;
        animation: imgslide 1.5s forwards;
        @media #{$breakpoint-tablet} {
          width: 470px;
          height: 230px;
        }
        @media #{$breakpoint-laptop} {
          width: 600px;
          height: 290px;
        }
      }
      &:hover:after {
        content: "To Project Github";
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Raleway;
        font-size: 32px;
        color: white;
      }
    }
    .proj-img-2 {
      @extend .proj-img;
      display: none;
    }
    .proj-img-3 {
      @extend .proj-img;
      display: none;
    }
    .proj-img-4 {
      @extend .proj-img;
      display: none;
    }
    .proj-img-5 {
      @extend .proj-img;
      display: none;
    }
    .proj-img-6 {
      @extend .proj-img;
      display: none;
    }

    .proj-desc {
      @extend .paragraphs;
      width: 305px;
      align-self: center;
      margin-top: 20px;
      animation: fadeIn 4s forwards;
      @media #{$breakpoint-tablet} {
        position: absolute;
        width: 160px;
        left: 20px;
        top: 150px;
      }
    }
    .proj-desc-2 {
      @extend .proj-desc;
      display: none;
      @media #{$breakpoint-tablet} {
        top: 100px;
      }
      @media #{$breakpoint-laptop} {
        top: 120px;
      }
    }
    .proj-desc-3 {
      @extend .proj-desc;
      display: none;
      @media #{$breakpoint-tablet} {
        top: 120px;
      }
      @media #{$breakpoint-laptop} {
        top: 140px;
      }
    }
    .proj-desc-4 {
      @extend .proj-desc;
      display: none;
      @media #{$breakpoint-tablet} {
        top: 150px;
      }
      @media #{$breakpoint-laptop} {
        top: 180px;
      }
    }
    .proj-desc-5 {
      @extend .proj-desc;
      display: none;
      @media #{$breakpoint-tablet} {
        top: 150px;
      }
      @media #{$breakpoint-laptop} {
        top: 170px;
      }
    }
    .proj-desc-6 {
      @extend .proj-desc;
      display: none;
      @media #{$breakpoint-tablet} {
        top: 150px;
      }
      @media #{$breakpoint-laptop} {
        top: 170px;
      }
    }

    .arrow-bar {
      display: flex;
      justify-content: space-between;
      .left-arrow, .right-arrow {
        margin: 10px 20px;
        &:hover {
          animation: squish 1s forwards;
        }
      }
      .left-arrow-2, .right-arrow-2, .left-arrow-3, .right-arrow-3, .left-arrow-4, .right-arrow-4, .left-arrow-5, .right-arrow-5, .left-arrow-6, .right-arrow-6 {
        @extend .left-arrow;
        display: none;
      }
    }
  }
  }


//Contact

#contact {
  @extend .sections;
  height: 650px;
  @media #{$breakpoint-laptop} {
    height: 750px;
  }
  .con-title {
    text-align: center;
    width: 220px;
    h1 {
      @extend .section-headers;
      height: 50px;
      @media #{$breakpoint-laptop} {
        font-size: 90px;
        border-bottom: 4px solid black;
        height: 90px;
        width: 350px;
      }
      span {
        color: white;
      }
    }
  }
  .color-block {
    background-color: $primary;
    height: 55px;
    width: 102px;
    z-index: -1;
    position: absolute;
    top: 20px;
    left: 55px;
    animation: movebwd 15s infinite;
    @media #{$breakpoint-laptop} {
      height: 110px;
      width: 190px;
      left: 65px;
    }
  }
  .lets-work {
    position: absolute;
    top: 35px;
    left: 100px;
    @media #{$breakpoint-laptop} {
      top: 55px;
      left: 255px;
    }
    h5 {
      text-align: right;
      font-family: Raleway;
      font-style: italic;
      font-size: 22px;
      @media #{$breakpoint-laptop} {
        font-size: 36px;
      }
    }
  }
  form {
    align-self: center;
    margin-top: 180px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$breakpoint-laptop} {
      height: 306px;
      width: 385px;
    }
    .row-1, .row-2, .row-3{
      width: 280px;
      display: flex;
      @media #{$breakpoint-laptop} {
        width: 385px;
      }
    }
    input {
      border: 1px solid black;
      width: 110px;
      @media #{$breakpoint-laptop} {
        width: 166px;
        height: 31px;
        margin-bottom: 5px;
      }
    }
    input::placeholder {
      font-family: Raleway;
      color: gray;
      @media #{$breakpoint-laptop} {
        font-size: 16px;
      }
    }
    textarea {
      border: 1px solid black;
      width: 100%;
      @media #{$breakpoint-laptop} {
        height: 112px;
        width: 385px;
      }
    }
    textarea::placeholder {
      font-family: Raleway;
      color: gray;
      @media #{$breakpoint-laptop} {
        font-size: 16px;
      }
    }
    label {
      text-align: left;
      font-family: Raleway;
      font-style: italic;
      font-size: 22px;
      width: 125px;
      @media #{$breakpoint-laptop} {
        font-size: 26px;
      }
    }
    .row-3 {
      justify-content: flex-end;
      @media #{$breakpoint-laptop} {
        justify-content: center;
      }
      button {
        width: 80px;
        height: 40px;
        font-family: Raleway;
        font-size: 22px;
        margin-right: 35px;
        padding: 10px;
        background-color: $primary;
        color: white;
        border: none;
        @media #{$breakpoint-laptop} {
          margin: 0;
        }
        &:hover {
          animation: grow 1s forwards;
        }
      }
    }
  }
  .social-links {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    @media #{$breakpoint-tablet} {
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 25px;
    }
    @media #{$breakpoint-tablet} {
      margin-bottom: 45px;
    }
    .soc-box {
      a {
        img {
          &:hover {
            animation: bounce 1s forwards;
          }
        }
      }
    }
  }
}
