//Navigation
.navbar {
  position: fixed;
  width: 100%;
  height: 25px;
  z-index: 1;
}

.menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: black;
    font-family: Raleway;
    font-size: 22px;
    margin-left: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Landing Page
.landing-page {
  background-color: $primary;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    h1 {
      font-family: Questrial;
      width: 200px;
      margin: 0;
      color: white;
      font-size: 48px;
      height: 40px;
    }
    .firstname {
      text-align: right;
    }
    .lastname {
      text-align: left;
    }
    span {

    }
  }
  .subtitle {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    h4 {
      font-family: Raleway;
      margin: 0;
      margin-top: 3px;
      font-size: 22px;
    }
  }
}

//Process
#process {
  @extend .sections;
  .pro-title {
    text-align: center;
    width: 220px;
    h1 {
      @extend .section-headers;
      height: 50px;
      span {
        color: white;
      }
    }
  }
  .color-block {
    background-color: $secondary1;
    height: 55px;
    width: 102px;
    z-index: -1;
    position: absolute;
    top: 20px;
    left: 100px;
  }
  .process-first-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    .text-1 {
      @extend .paragraphs;
    }
    .icon-1 {
      @extend .icon-secs;
      .icon {
        @extend .icon;
      }
      .icon-1-sub {
        @extend .icon-subs;
      }
    }
  }
  .process-second-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    .icon-2 {
      @extend .icon-secs;
      .icon {
        @extend .icon;
      }
      .icon-2-sub {
        @extend .icon-subs;
      }
    }
    .text-2 {
      @extend .paragraphs;
      text-align: right;
    }
  }
  .process-third-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    .text-3 {
      @extend .paragraphs;
      text-align: right;
    }
    .icon-3 {
      @extend .icon-secs;
      .icon {
        @extend .icon;
      }
      .icon-3-sub {
        @extend .icon-subs;
      }
    }
  }
}

//Work
#work {
  background-color: $secondary2;
  @extend .sections;
  .work-title {
    text-align: center;
    width: 210px;
    align-self: flex-end;
    h1 {
      @extend .section-headers;
      margin-right: 30px;
      height: 50px;
    }
  }
}
