//Color Scheme

$primary: #E56B70;
$secondary1: #5CA4A9;
$secondary2: #FFCA3A;

.sections {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.section-headers {
  font-family: Questrial;
  margin: 0;
  margin-top: 20px;
  margin-left: 30px;
  color: black;
  font-size: 48px;
  border-bottom: 2px solid black;
  span {
    text-shadow: 1px 1px 1px black;
  }

}

.icon-secs {
  margin-top: 40px;
  text-align: center;
}

.icon {
  img {
    width: 94px;
    height: auto;
    @media #{$breakpoint-tablet} {
      width: auto;
    }
  }
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

.icon-subs {
  h4 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 22px;
    margin-top: 4px;
  }
}

.paragraphs {
  width: 200px;
  @media #{$breakpoint-tablet} {
    height: 230px;
  }
  p{
    font-size: 14px;
    font-family: Raleway;
  }
}
